<!-- home.component.html -->
<div class="logout-container">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>



  <div class="container">
    <div class="header">
      <h1>Welcome to the Movie Recommender!</h1>
      <p>Enter the name of the movie you want to explore, and then select the correct one!</p>
    </div>
  
    <!-- Search Form -->
    <div class="search-container">
      <input [(ngModel)]="query" placeholder="Enter movie name" />
      <button class="btn btn-primary" (click)="searchMovies()">Search</button>
    </div>
  
    <!-- Display Movie Information -->
    <div class="movies-container">
      <div *ngIf="movies && movies.length > 0" class="movies-list">
        <div *ngFor="let movie of movies" class="movie-item" (click)="navigateToMovie(movie.imdbID)">
          <img [src]="movie.Poster" alt="{{ movie.Title }}" class="movie-poster" />
          <div class="movie-details">
            <h2>{{ movie.Title }}</h2>
            <p>{{ movie.Year }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    </div>
  </div>
  